//font
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
$mainfont:'League Spartan';

//colors
$uno: rgb(252, 217, 217);
$dos: rgb(85, 85, 85);
$tres:rgb(19, 15, 15);
$cuatro: rgb(66, 87, 52);
$cinco:rgb(252, 14, 153);
//sizes
$A: large;
$B:larger;
$C: medium;
$D: small;
$E: smaller;
$F: x-large;
$G:xx-small;
$H:x-small;
$I:xx-large;

//styles
$it:italic;
$nor:normal;
$ob:oblique;

//weight
$b: bold;
$bd:bolder;
$lit:lighter;

//align
$l :left;
$c: center;
$r: right;




.tema{
    margin-top: 10%;
    width: 50%;
    color: $cinco;
    font-size: $F;
    font-weight: $b;
}


.title{
    color: $cinco;
    font-family: $mainfont;
    font-style: italic;
    margin-top: 3%;
    text-align:$c;
}


.text{
    font-family: $mainfont;
    color:$cinco;
    font-style: $lit;
text-align: $c;
    
}

.words{
    @extend .text;
    color: $cuatro;
    
}


.theme{
    @extend .inf;
    font-style: $it

}

.something{
   @extend .inf;
   
}

.info{
    @extend .inf;
   
}

.inf{
    color: $cuatro ;
    width: 70%;
    font-family: $mainfont;
font-size: 28px;
text-align: $c;
margin-left: 18%;
   
}


.lafamilia{

    font-family: $mainfont;
    font-size:35px;
    color: $cuatro; 
    font-style: $it;
    padding: 2%;
    text-align: $c;
    border-radius: 20px solid ;
    
}

.regalar{
    font-size: 40px;
   background-color: rgb(248, 248, 122);
    @extend .informacion;

}
.informacion{
    font-size: 20px;
    color: $cuatro;
    font-family: $mainfont;
    font-weight: $b;
    margin-top: 3%;
    text-align: $c;
    width: 80%;
    margin-left: 10%;
    padding: 1%;
    font-style: $it;

}

.card-title{
font-family: 'Times New Roman', Times, serif;
color: $cuatro;
text-align: $c;
font-style: $it;
}

.card-text{
@extend .card-title;
font-size: 20px;
}


.rellenar {
    font-family: $mainfont;
    font-size:25px;
    color: $cuatro; 
    margin-bottom: 2%;
    text-align: $c;



}




.whatsapp{
    margin-top: 7%;
 float: left;
    font-weight: 25px;
    
}

.contactanos{
    text-align: center;
    margin-bottom: 3%;
    font-family: $mainfont;
    font-style: $it;
    
}

.botoncillo{
    font-family: $mainfont;
    font-style: $it;
    font-weight: $b;
    text-decoration: none;

}


.card img{
    border-radius: 20px;
}
.card img:hover{
    transform: scale(1.1);
    transition: all;
    transition-duration: 1s;
}


.footer{
    display: grid;
    grid-row: 3fr;
}

.lu{
    font-family: $mainfont;
    font-weight: $lit;
    font-style: $it;
    text-align: $c;
    color: $cuatro;
}

.mu{
    @extend .lu;
}

.cero{
    @extend .lu;
}


.lusi{
    font-family: $mainfont;
    font-weight: $lit;
    font-style: $it;
    color: $cuatro;
}

.mugcholate {
@extend .lusi;
}

.ceroculpas{
    @extend .lusi;
}

.collapse{
    font-family: $mainfont;
    font-weight: $b;
    
    color: $cuatro;
}