body{
    background-image: url(../img-bitter/back.jpg);
overflow-x: hidden;
background-size:auto
;
    width: 100%;
}

  
   

    .container-card{
        width: 100%;
        margin-top: 15%;
      text-align: center;
      
    }
    

    .carousel-inner img{
        width: 20%;
        max-height: 600px;
        margin-left: 10%;
        margin-top: 4%;
        border-radius: 20px;
        


}

.carousel-inner{
    margin-top: 2%;
    margin-bottom: 10%;
    margin-left: 3%;

   
}

.carousel-caption{
    background-color: rgb(247, 211, 112);
    margin-left: 15%;
    border-radius: 20px;

}

.aboutt{
    width: 40%;
    max-height: 400px;
    margin-top: 7%;
    margin-left: 25%;
    
}


    
#nosotros{
    background: linear-gradient(75deg,rgb(184, 247, 148),rgb(140, 255, 73));
 width: 90%;
margin-left: 5%;

margin-bottom: 5%;
padding: 4%;
border-radius: 30px;
border: 3px solid rgb(140, 255, 73);

}

.imgnos{
    width: 80%;
    height: 350px;
    margin-left: 10%;
    border: 3px solid rgb(100, 133, 80) ;
    border-radius: 20px;
   
}




//giftcards



.card {
    width:20%;
   float:left ;
   margin-bottom: 3%;
   margin-inline-end: 1%;
   margin-left: 3.5%;
   }

   .allbtns{
    position: relative;
            z-index: 1;
            display: inline-block;
            text-transform: uppercase;
            padding: 12px 18px;
            cursor: pointer;
            transition: all .3s ease-in-out;
            line-height: .95;
            border: none;
            outline: none;
            border-radius: 20px;
            overflow:hidden;
            margin-bottom: 3%;
            margin-left: 30%;
           

        }

        .btn{
        @extend .allbtns;
        }

   
//contacto
        .animacion{
            max-height: 0px;
            margin-left: 45%;
            margin-top:5%
            }    


           .rellenar{
            @extend #nosotros;
            background-color: rgb(250, 164, 52);
            padding: 5%;
        
           }

           

           .form-group{
            margin-top: 2%;
           max-height: 130px;
           }

           .btn-send{
            border-radius: 20px;
            margin-top: 25%;
           margin-left: 10%;
            background-color: rgb(116, 235, 122);

           }

           

           .cardshop{

            width:100%;
        
            
            cursor: pointer;
        }
        
        .card{
            margin-top: 8%;
        }
        .shop{
            width: 100%;
          }

         
          .carro{
            filter: brightness(1.1);
            mix-blend-mode: multiply;
            border: none;
            
        
        }
        
        .carousel-inner{
            margin-bottom: 4%;
        }


        .boton{
            background-color: rgb(135, 253, 120);
            font-family: $mainfont;
            color: black;
            border-radius: 10px;
            margin-left: 35%;
        }


        
        .nuevo{
            @extend #nosotros;
            background:linear-gradient(95deg, rgb(159, 173, 252),rgb(126, 143, 252));
            
            padding-bottom: 3%;


        }

        
        .tarjeta img{
            border-radius: 20px;
            width: 28%;
        
            margin-left: 5.3%;
            max-height: 300px;
            float: left;
         
            
        }

        .tarjeta img:hover{
            transform: scale(1.1);
            transition: all;
            transition-duration:1.0s;
            cursor: pointer;
        
        }


        .botoncillo{
            border-radius: 20px;
            background-color: rgb(250, 250, 116);
            width: 15%;
            border: 2px solid cadetblue;
            margin-top: 5%;
            margin-left: 30em;
            

        }

        
.subject{
    margin-left: 30%;
    color: $cuatro;
    font-family: $mainfont;
    font-style: $it;
}


.foot{
    background:linear-gradient(70deg,rgb(248, 216, 110), rgb(255, 213, 27)) ;
border-top: 3px solid  rgb(250, 204, 0);

}



.icons{
margin-left: 47%;
margin-top: 2%;



}

.icons a{
    filter: brightness(1);
    mix-blend-mode: multiply;

}
.lusine{
    background-color: rgb(218, 153, 255);
    padding: 4%;
    margin-bottom: 4%;
    border-radius: 20px;
    margin-left: 10% ;
    margin-right: 10%;
}

.mugcholate{
    background-color: rgb(131, 155, 156);
     @extend .lusine;
}

.proximamente{
    background-color: rgb(164, 255, 146);
   @extend .lusine;
}

.noticias{

margin-top: 3%;
}


.cc img{
   border: 3px solid cadetblue;
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;


  

}

.volver{
    margin-left: 2%;
    border-radius: 20px;
    width: 15%;
    border-color: rgb(58, 125, 128);
    background-color: cadetblue;
    text-decoration: none;
    
}



//mixin media
$breakpointXS: 479px; 
$breakpointSM: 767px;
$breakpointMD: 1023px;
$breakpointLG: 1360px;


@mixin media ($media) {
  @if $media == xs{
    @media all  and (min-width: 280px) and (max-width: $breakpointXS) {@content;}
  }

  
    


@else if $media == sm{
    @media all and (min-width:$breakpointXS) and (max-width: $breakpointSM) {@content;}

}

@else if $media == md {
    @media (min-width:$breakpointSM) and (max-width: $breakpointMD) {@content;}

}

@else if $media == lg{
    @media (min-width:$breakpointMD)and (max-width:$breakpointLG){@content;}
}


}
//media
body{

    @include media(xs){
        background-position: 45%;
        overflow-x:hidden ;
       


    }

    @include media(sm){
        background-position: 50%;
    }

    @include media(md){
        background-position: 75%;
    }

}


.carousel-inner img{
    @include media(xs){
width: 80%;

    border: 3px solid cadetblue;


    }

    @include media(sm){
        width: 400px;
        margin-left:6%;
        border: 3px solid cadetblue;

        
    }

    @include media(md){
        width: 500px;
        margin-left: 15%;
    }

    @include media(lg){
        width: 700px;

    }

   

}

.carousel-inner{
    @include media(md){
        margin-top: 8%;
    }
}


    

   


.navbar-toggler{
    @include media(xs){
      margin-left: 80%;
    }
}

.form{
    @include media(xs){
    max-width: 40%;
    padding-left: 8%
    ;
    }
}




.tarjeta img{
    @include media(xs){
        width: 100%;
        max-height: 40%;
        margin-bottom: 5%;
        ;
}
}

.novo{
    @include media(xs){
        
        max-height: min-content;
        margin-right: 10%;
       
    }
}

.noticias{
    @include media(xs){
        margin-left: 10%;
    }
}
.subject{
    @include media(xs){
font-size: 20px;
text-align: center;
margin-right: 20%;
    }

    @include media(sm){
        margin-right: 30%;
        text-align: center;
        font-size: 35px;
    }

}



.card{
  @include media(xs){
  margin-right: 5%;
  margin-left: 15%;
  width: 70%;
  margin-top: 3%;
  

    }

    @include media(sm){
        margin-right: 5%;
        margin-left: 15%;
        width: 70%;
        margin-top: 3%;
}

@include media(md){
    width: 40%;
    margin-left: 5.5%;
    margin-right: 3%;
}

}

.cardshop{
    @include media(xs){
        width: 80%;
margin-left: 10%;    }

@include media (md){
    width: 90%;
    margin-left: 8%;

}
}

#nosotros{
    @include media(xs){



max-height: 1000px;    } 




}

.btn{
    @include media(md){
        margin-left: 40%;
    }
}

.rellenar{
    @include media(xs){
        margin-top: 8%;

    }


    
}

.imgnos{
    @include media(xs){
        width: 80%;
       
    }


    @include  media(sm){
        width: 70%;
       
    }
}

.animacion img{
    @include media(xs){
width: 0%;

        }
        @include media(sm){
            width: 0%;
        }

         @include media( md){
            width: 100%;
         }
}


.btn-send{
    @include media(xs){
        margin-right: 8%;
    }

    @include media(sm){
        margin-right: 10%;
        
    }
}

.boton{
    @include media(md){
    margin-left:5%
}
}
.whatsapp{
    @include media(sm){
        margin-left: 13%;
        
    }


}


